@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
body main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 720px;
    background: url(../images/bg-pattern-top.svg) no-repeat -62% 198%, url(../images/bg-pattern-bottom.svg) no-repeat 149.6% -145.9% var(--Dark-cyan);
}
body main .card-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, .2);
    border-radius: 15px;
}
body main .card-perfil .div-imgs {
    display: flex;
    justify-content: center;
    position: relative;
    height: 140px;
}
body main .card-perfil .div-imgs .img-fund {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
body main .card-perfil .div-imgs .img-victor {
    position: absolute;
    border-radius: 50%;
    border: 5px solid #FFF;
    margin-top: 25%;
}
body main .card-perfil .div-cite-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 72px;
    border-bottom: .1px solid var(--Dark-gray);
}
body main .card-perfil .div-info {
    width: 100%;
    background-color: #FFF;
    border-radius: 0 0 15px 15px;
}
body main .card-perfil .div-cite-name h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}
body main .card-perfil .div-cite-name h1 span {
    font-weight: 400;
    color: var(--Dark-gray);
}
body main .card-perfil .div-cite-name h2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--Dark-gray);
    margin-bottom: 24px;
}
body main .card-perfil .div-social {
    display: flex;
    justify-content: space-evenly;
}
body main .card-perfil .div-social .social {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 4px;
    padding: 24px 0;
}
body main .card-perfil .div-social .social span:first-child {
    font-size: 18px;
    font-weight: 700;
}
body main .card-perfil .div-social .social span:last-child {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--Dark-gray);
}
body main .attribution {
    font-size: 11px; text-align: center;
}
body main .attribution a {
    color: hsl(228, 45%, 44%);
}